::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar {
	background: gray;
}

::-webkit-scrollbar-thumb {
	background-color: darkslategray;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
